body {
    color: blue;

    display: flex;
    flex-direction: row;
}

body, h1 {
    margin: 0;
}

.logo {
    background-color: cornflowerblue;
}

.login-form {
    background-color: blue;
}

.logo, .login-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (max-device-width: 640px),
screen and (max-width: 411px) {
    body {
        flex-direction: column;
    }
    
    .logo {
        height: 20vh;
    }

    .login-form {
        height: 80vh;
    }
}